<script>
    import { onMount } from "svelte";
    import { roomlist } from "../stores.js";
    import Streamfunctions from "../Streamfunctions.svelte";
    import Getdata from "./Getdata.svelte"
    import { startMedia } from "../Streamfunctions.svelte";
    import { connect } from "../Streamfunctions.svelte";
    import { getRoomName } from "../Streamfunctions.svelte";
    import { setRoomName } from "../Streamfunctions.svelte";
    import { disconnect } from "../Streamfunctions.svelte";
    import { stopMedia } from "../Streamfunctions.svelte";
    import { takepicture } from "../Streamfunctions.svelte";
  
    export let localVideo = null;
    export let canvas = null;
    export let remoteContainer = null;
    export let roomName = "defaultRoom";
    export let clientId = null;
    let getdata;
    //export let roomList = [];
  
    let isConsumerOnly = false;
  
    let selected;
  
    $: setRoomName(selected);

    // handle errors
    function handleError(event) {
        alert(event.detail.text);
    }
    

  </script>
  
  <h1>Broadcast to Iconlookup Live Streams</h1>
  <label for="video">Use video</label>
  <input type="checkbox" id="use_video" checked="1" name="video" />
  <label for="audio">Use audio</label>
  <input type="checkbox" id="use_audio" checked="1" name="audio" />
  <!-- <input type="checkbox" bind:checked={isConsumerOnly} name="role" /> -->
  <button id="start_video_button" on:click={startMedia(localVideo)}
    >Start Media</button
  >
  <button id="stop_video_button" on:click={stopMedia(localVideo)}
    >Stop Media</button
  >
  <button id="startbutton" on:click={takepicture(canvas, localVideo)}
    >Take photo</button
  >
  <input
    on:change={setRoomName(selected)}
    bind:value={selected}
    type="text"
    id="room_name"
    placeholder="room name"
  />
  <button id="connect_button" on:click={connect(isConsumerOnly, selected)}
    >Connect</button
  >
  <button id="disconnect_button" on:click={disconnect(localVideo)}
    >Disconnect</button
  >
  <!-- <button on:click={() => getdata.getMenuHierarchy()}>Getdata</button> -->
 
  <div>
    local video<br />
    <video
      bind:this={localVideo}
      id="local_video"
      autoplay
      style="width: 120px; height: 90px; border: 1px solid black;"
    />
    <span id="state_span" />
  </div>
    
  <canvas id="canvas" bind:this={canvas} />
  <div class="output">
    <img id="photo" alt="Video photo will appear in this box." />
  </div>

  <Streamfunctions on:error={handleError}/>
  <Getdata bind:this={getdata}/>
  
  <style>
  
    #photo {
      border: 1px solid black;
      box-shadow: 2px 2px 3px black;
      width: 320px;
      height: 240px;
    }
  
    #canvas {
      display: none;
    }
  
    .output {
      width: 340px;
      display: inline-block;
    }
  
  </style>
  