<script>
    import { onMount } from "svelte";
    import { roomlist } from "../stores.js";
    import Streamfunctions, { connect } from "../Streamfunctions.svelte";
    import { error } from "../Streamfunctions.svelte";
    import Searchstreams from "./Searchstreams.svelte";


    export let remoteContainer = null;

    //indicate that this component is for stream subscriber only
    let isConsumerOnly = true;

    // handle events
    function handleError(event) {
        alert(event.detail.text);
    }
    function handlePlayStopped(event) {
        // alert(event.detail.text);
        roomPlayingStatus = event.detail.text;
    }
    let roomPlaying = "";
    let roomPlayingStatus = "";
    function playRoom(name) {
        roomPlaying = name;
        roomPlayingStatus = "";
        connect(isConsumerOnly, name);
    }

</script>

<h1 class="title">Welcome to Iconlookup Live Streams</h1>

<Searchstreams />

<div class="live">
    <h2>Now Playing</h2>
    <span class="caption">{roomPlaying} {roomPlayingStatus}</span>
    <div class="video" bind:this={remoteContainer} id="remote_container" />
</div>

<div class="container">
    <div class="row">
        <span>LIVE STREAMS</span>
        {#each $roomlist as theroom}
            <div class="column">
                <img
                    src={theroom.vimg}
                    height="80"
                    width="100"
                    on:click={playRoom(theroom.name)}
                />

                <span class="caption">{theroom.name}</span>
            </div>
        {/each}
    </div>
</div>

<div>
    <!-- <span>errors come here{error}</span> -->
    <span>Click an image to play the stream.</span>
    <Streamfunctions on:error={handleError} on:playstopped={handlePlayStopped}/>
</div>

<style>
    .container {
        position: absolute;
        left: 15%;
        top: 30%;
        /* margin-left: -180px;
        margin-top: -135px; */
        z-index: 999;
        text-align: center;
    }

    .title {
        position:relative;
        text-align: center;
        top:-10px;
    }

    .live {
        position: relative;
        /* left: 50%;
        top: 50%;
        margin-left: -180px;
        margin-top: -135px;
        z-index: 999; */
        text-align: center;
    }

    .text {
        /* position: absolute;
        top: 17px;
        left: 50px; */
    }

    .caption {
        display: block;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: block;
        position: relative;
        top: 0%;
    }

    img  {
        /* float: left; */
        border-radius: 10px;
        border: 2px solid #0c030307;
    }

    .video  {
        /* float: left; */
        border-radius: 10px;
        border: 2px solid #0c030307;
    }

    .column div {
        margin-top: 8px;
        vertical-align: middle;
    }
</style>
