<script>
    import { createEventDispatcher } from "svelte";

    const dispatch = createEventDispatcher();

    let estaData = [];

    function getData() {
        dispatch("message", {
            text: "Hello!",
        });
    }

    export function getEsta() {
        fetch("https://brazil.iconlookup.com/api/getCategories")
            .then((response) => response.json())
            .then((data) => {
                estaData = data;
                console.log(estaData);
            });

        estaData.forEach((element) => console.log(element));
    }

    export function getMenuHierarchy() {
        // POST request using fetch()
        fetch("https://brazil.iconlookup.com/api/getMenuHierarchy", {
            // Adding method type
            method: "POST",

            // Adding body or contents to send
            body: JSON.stringify({
                catname: "Museums/<br>Cinemas",
            }),

            // Adding headers to the request
            headers: {
                "Content-type": "application/json; charset=UTF-8",
            },
        })
            // Converting to JSON
            .then((response) => response.json())

            // Displaying results to console
            .then((json) => console.log(json));
    }
</script>

<!-- <div>
    <button on:click={getEsta}> Click to say hello </button>
</div> -->
