<script>
    import Autocomplete from "simply-svelte-autocomplete";
    const tagColors = ["#000", "#3298dc", "#f14668", "#48c774", "#3273dc"];
    const searchModifiers = ["Sports", "Adventures", "Festivals"];
    let options = [
        "None of these do anything",
        "Joes Burger Joint",
        "Brian Den",
        "Johns Place",
        "The Alex Shack",
        "Brads Pad"
    ];
    let selectedOptions = [];
    const handleSubmit = (selectedValue) => {
        if (options.indexOf(selectedValue) === -1) {
            options = [...options, selectedValue];
        }
        if (selectedOptions.indexOf(selectedValue) === -1) {
            selectedOptions = [...selectedOptions, selectedValue];
        }
    };

    let singleValueSelectedOption;
</script>

<div class="search">
    <span class="caption">Search Streams</span>
  
    <Autocomplete {options} {searchModifiers} onSubmit={handleSubmit} />

    <div>
        {#each selectedOptions as option, index}
            <button
                style="background-color: {tagColors[index % 5]}"
                tabindex="-1"
                class="tag"
            >
                {option}
            </button>
        {/each}
    </div>

    <!-- <Autocomplete
        {options}
        {searchModifiers}
        keepValueOnSubmit
        themeColor={tagColors[4]}
        bind:selectedValue={singleValueSelectedOption}
    />

    {#if singleValueSelectedOption}
        <p>You have selected: {singleValueSelectedOption}!</p>
    {/if} -->
   
</div>

<style>
    :global(body) {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60vh;
        margin: 0;
        color: #333;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    }
    .search {
        position: absolute;
        right: 10%;
        top: 30%;
        /* margin-left: -180px;
        margin-top: -135px; */
        z-index: 999;
        text-align: center;
    }

    .caption {
        display: block;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    small {
        font-style: italic;
        margin-bottom: 2rem;
    }
    .tag {
        border: none;
        border-radius: 0.25rem;
        color: #fff;
        font-size: 0.75rem;
        height: 2em;
        line-height: 1.5;
        padding-left: 0.75em;
        padding-right: 0.75em;
        white-space: nowrap;
        margin: 0.5rem 0.5rem 0.5rem 0;
    }
    h2 {
        margin: 4rem auto 2rem;
        font-size: 1.125rem;
    }
    div {
        margin: 2rem 0 0.5rem;
    }
    img {
        width: 4rem;
    }
</style>
