<script>
	import { onMount } from "svelte";
	import router from "page";
	import Home from "./components/Home.svelte";
	import About from "./components/About.svelte";
	import Broadcaster from "./components/Broadcaster.svelte";
	import Consumer from "./components/Consumer.svelte";
	import { roomlist } from "./stores.js";

	// for router
	let page;
	router("/home", () => (page = Home));
	router("/about", () => (page = About));
	router("/broadcast", () => (page = Broadcaster));
	router("/watch", () => (page = Consumer));
	// router("/", () => (page = Form));

	router.start();

	let localStream = null;
	let localVideo = null;
	let remoteContainer = null;
	let clientId = null;
	let roomName = null;
	let device = null;
	let producerTransport = null;
	let videoProducer = null;
	let audioProducer = null;
	let consumerTransport = null;
	let videoConsumers = {};
	let audioConsumers = {};

	onMount(async () => {
		console.log("local video is ..", localVideo);
		console.log("remote video is ..", remoteContainer);
		console.log("roomName is ..", roomName);
		//roomlist.roomstore("hello");
		const data = await fetch("https://brazil.iconlookup.com:3016/getroomlist")
		.then((response) => response.json())
		//.then((data) => console.log(data));
		roomlist.roomstore(data);
		console.log("app says roomlist is  ", $roomlist);
	});

	$: console.log("HOPE THIS WORKS", $roomlist);

	
		
</script>

<main>
	<svelte:component this={page} />
	<!-- <Form bind:localVideo bind:remoteContainer bind:roomName /> -->
	<!-- <Consumer /> -->
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>
